.controls{
  position:fixed;
  background-color:darkgreen;
  color:#F5F5F5;
  z-index:10;
  left:0%;
  bottom:0%;
  -webkit-transition: height 1.0s ease,left 1.0s ease;
  transition: height 1.0s ease,left 1.0s ease;
  padding-left:0px;
  padding-right:0px;
  font-family:Pacifico;
}
.controls.portrait{
  height:85%;
}
.controls.landscape{
  height:100%;
  padding-top:52px;
}
.controls.vhide{
  height:10%;
}
.controls.hhide{
  left:-33.33%;
}
.controls_logo{
  position:relative;
  border-radius:26px;
  width:52px;
  height:52px;
  top:-26px;
  right:-35%;
}
.controls.portrait #tb{
  padding-top:0px;
  padding-left:8px;
  position:absolute;
  bottom:100%;
  background-color: darkgreen;
  width:36px;
  height:24px;
  left:50%;
}
.tb_arrow{
  width:17px;
  -webkit-transition: transform 1.0s ease;
  transition: transform 1.0s ease;
}
.controls.vhide #tb_arrow{
	transform:rotate(180deg);
}
.controls.hhide #tb_arrow{
	transform:rotate(180deg);
}
.controls.landscape #tb{
  padding-top:8px;
  padding-left:0px;
  position:absolute;
  background-color: darkgreen;
  width:24px;
  height:36px;
  top:15%;
  left:100%;
}
#mapdiv{
  position:fixed;
  background-color:darkgreen;
  width:100%;
  height:100%;
  font-size:20px;
  color:white;
}
#layout{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
}
#layout .row{
	margin-left:0px;
	margin-right:0px;
}
.navbar{
	margin-bottom:0px;
}
#logo{
	height:25px;
}
#title_controls_top{
  font-size:16pt;
  position:relative;
  top:-20px;
}
.w100{
	width:100%;
}
.center{
  text-align:center;
}
.thumbnail{
	padding-top:15px;
	margin-bottom:20px;
}
.editicon{
	position:absolute;
	top:15;
	right:15;
	cursor:pointer;
}
.pad52{
  padding-top:52px;
}
