#controls_toggle-button {
  position: absolute;
  top: 10px;
  left: 100%;
  width: 22px;
  height: 48px;
  background-color: red;
  cursor:pointer;
	z-index:999;
}
#controls_toggle-button img{
	width:25px;
}
#controls{
	background-color:gold;
	overflow:auto;
	opacity:1.;
	width:100%;
}
#spindiv{width:1px;}
#mapdiv{
	background-color:white;
	padding-left:0px;
	padding-right:0px;
	width:100%;
	top:50px;
}
#c00{
	position:relative;
}
.jumbotron{
	background-color:#2E2D88;
	color:white;
}
.container{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.row{
	margin-left:0px;
	margin-right:0px;
}
.marker{
  width: 100px;
  height: 100px;
  background: url("/static/lanwatch/img/anim.png") no-repeat scroll 0% 0% transparent;
}
#logo{
	height:25px;
}
.navbar{
	margin-bottom:0px;
}
.textarea{
	width:100%;
}
.thumbnail{
	padding-top:15px;
	margin-bottom:20px;
}
.editicon{
	position:absolute;
	top:15;
	right:15;
	cursor:pointer;
}
.spinner{
	background-color:red;
	height:25px;
	width:25px;
	border-radius:12px;
	transition: transform 1.0s ease;
}
.spinner.up{
	transform:rotate(180deg);
}
.h50px{
	height:50px;
}
.w100{
	width:100%;
}
