{% extends 'pacmap_base.html' %}

{% block extra_javascript_include %}
	<link rel="stylesheet" type="text/css" href="/static/pacmap/css/pacmap.css">
	<script src="/static/pacmap/js/util.js">
{% endblock %}

{% block extra_javascript %}
var init = function(){
	var blob = decode("{{ content }}");
	console.log(blob);
}
{% endblock %}


{% block content %}
<div class="row">
<div class="media">
  <div class="media-left media-middle">
    <a href="/about">
      <img class="media-object" src="/static/pacmap/img/pac_logo.png" alt="Hinterland Parks, Protected Areas Commission, Guyana">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Hinterland Parks</h4>
    <p>
      Protected Areas Commission
    </p>
  </div>
<h1> {{ pa_path }}</h1>
<h3> {{ content }}</h3>
</div>
</div>
{% endblock %}
