<html>

<head>
	<title>{{ title }}</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/static/pacmap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/pacmap/css/ol.css">
	<script type="text/javascript" src="/static/pacmap/js/ol.js"></script>

  {% block extra_javascript_include %}
  {% endblock %}
  

  <script type="text/javascript">
  {% block extra_javascript %}
  {% endblock %}
  </script>

</head>

<body onload="init()">
<div class='container'>

<nav id="le_nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/pacmap/">
        <img id="logo" alt="Brand" src="/static/pacmap/img/pac_logo.png">
      </a>
    </div>


    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="/pacmap/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
        <li><a href="/pacmap/pacvideo/"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Featured</a></li>
        <li><a href="/pacmap/pacphotos/"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Multimedia</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-deciduous" aria-hidden="true"></span> Hinterland Parks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Managed by PAC</li>
            <li><a href="/pacmap/hinterland/kaieteur/">Kaieteur National Park</a></li>
            <li><a href="/pacmap/hinterland/shellbeach/">Shell Beach Protected Area</a></li>
            <li><a href="/pacmap/hinterland/kanuku/">Kanuku Mountains Protected Area</a></li>
            <li class="dropdown-header">Managed by Iwokrama</li>
            <li><a href="/pacmap/hinterland/iwokrama/">Iwokrama Conservation Area</a></li>
            <li class="dropdown-header">Managed by Community</li>
            <li><a href="/pacmap/hinterland/konashens/">Konashens</a></li>
          </ul>
        </li>
 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-deciduous" aria-hidden="true"></span> Urban Parks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Managed by PAC</li>
            <li><a href="/pacmap/urbanparks/guyanazoo/">The Guyana Zoo</a></li>
            <li><a href="/pacmap/urbanparks/botanicalgardens/">Botanical Gardens</a></li>
            <li><a href="/pacmap/urbanparks/nationalpark/">National Park</a></li>
            <li><a href="/pacmap/urbanparks/joeviera/">Joe Viera</a></li>
          </ul>
        </li>

        <li>
          <a href="/pacmap/contact/"><span aria-hidden="true"></span> Contact</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}  

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/pacmap/js/bootstrap.min.js"></script>
</body>

</html>
