{% extends 'pacmap_base.html' %}
{% block extra_javascript %}
function init(){
{% endblock %}
{% block content %}

<div class="row">
	{% for image in galleryobjects %}
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumbnail">
    	
    	<a href="/static/pacmap/upload/images/{{image.filename}}">
    	  <img src="/static/pacmap/upload/images/{{image.filename}}" alt="">
    	</a>
    	

    	<form enctype="multipart/form-data" method="POST" action="/pacmap/deletephoto/">
		{% csrf_token %}
    	<div class="caption well">
			<h3>{{ image.title }}</h3>
			<p>{{ image.filename }}</p>
			<p>{{ image.desc }}</p>
			<p>{{ image.lat }}, {{ image.lon }}</p>
			<p>{{ image.tags }}</p>
			<table style="display:none;">
			{{ delete }}
			</table>
			<input type="hidden" name="pyld" id="pyld" value="{{image.filename}}"></input>
			<button id="{{image.filename}}" type="submit" class="btn btn-danger">Delete</button>
		</div>
		</form>


    </div>	
	{% endfor %}
</div>

<div class="row">
	<div class="jumbotron">
		<span>TESTING</span>
	</div>
</div>

<div class="row">
	<form enctype="multipart/form-data" method="POST" action="/pacmap/pacphotos/">
		{% csrf_token %}
		<table>
		{{ form }}
		</table>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>


{% endblock %}
