{% extends 'pacmap_base.html' %}

{% block extra_javascript_include %}
	<link rel="stylesheet" type="text/css" href="/static/pacmap/css/pacmap.css">
{% endblock %}

{% block extra_javascript %}
function init(){}
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
	<p>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/20s2f8OfLu8" allowfullscreen></iframe>
	</div>
	</p>
</div>
</div>
{% endblock %}
