<!--
<script type="text/javascript">
	var d		= document.createElement('div');
	d.innerHTML	= decode("{{ pois }}");
	document.body.appendChild(d);
</script>

<form method='POST' target='/'>
	{% csrf_token %}
	<input name='lat'></input>
	<button type='submit'>Submit</button>
</form>
-->

class UploadImageForm(forms.Form):
	title=forms.CharField(max_length=60,required=True)
	file = forms.ImageField()
	desc= forms.CharField(max_length=60,widget=forms.Textarea)
	lat	= forms.FloatField(required=False)
	lon	= forms.FloatField(required=False)
	tags= forms.CharField(max_length=60,required=False)

class UploadFileForm(forms.Form):
	title=forms.CharField(max_length=60,required=True)
	file = forms.FileField()
	desc= forms.CharField(max_length=60,widget=forms.Textarea)
	lat	= forms.FloatField(required=False)
	lon	= forms.FloatField(required=False)
	tags= forms.CharField(max_length=60,required=False)

class DeleteFileForm(forms.Form):
	title=forms.CharField(max_length=60,required=True)

class DeleteImageForm(forms.Form):
	title=forms.CharField(max_length=60,required=False)

def handle_uploaded_image(f):
	oufname=f.name
	with open('/var/www/dev/static/pacmap/upload/images/%s'%oufname, 'wb+') as destination:
		for chunk in f.chunks():
			destination.write(chunk)
	
def handle_uploaded_file(f):
	oufname=f.name
	with open('/var/www/dev/static/pacmap/upload/files/%s'%oufname, 'wb+') as destination:
		for chunk in f.chunks():
			destination.write(chunk)
	
def deletephoto(request):
	if request.method=='POST':
		
		form = DeleteImageForm(request.POST)
		if form.is_valid():
			logging.debug("form is valid")
			fname=request.POST.get("pyld")
			logging.debug(fname)
			x=GalleryImage.objects.get(filename=fname)
			x.delete()
			cmd="rm /var/www/dev/static/pacmap/upload/images/%s"%fname
			os.system(cmd)
			logging.debug("%s deleted"%fname)
		else:
			logging.debug("form invalid")

	return redirect("/pacmap/pacphotos/")
