{% extends 'base.html' %}

{% block extra_javascript_include %}
	<link rel="stylesheet" type="text/css" href="/static/pacdev/css/pacdev.css">
{% endblock %}

{% block js %}
{% endblock %}


{% block content %}
<div class="row">
<div class="media">
  <div class="media-left media-middle">
    <a href="/about">
      <img class="media-object" src="/static/pacdev/img/pac_logo.png" alt="Protected Areas Commission, Guyana">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Contact</h4>
    <p>
    	Asymptopia Software is a website for my personal projects.<br>
    	Please Enjoy!
    </p>
    <p>
    	Charles B. Cossé, Ph.D. <br>
    	<a href="mailto:">ccosse@gmail.com</p></a>
    </p>
  </div>
</div>
</div>
{% endblock %}
