{% extends 'pacdev_base.html' %}

{% block extra_javascript_include %}
<link rel="stylesheet" type="text/css" href="/static/pacdev/css/pacdev.css">
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
{% endblock %}

{% block extra_javascript %}
function init(){
tinymce.init({
    selector: '#id_content',
    theme: 'modern',
    width: 600,
    height: 300,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality emoticons template paste textcolor'
    ],
    content_css: 'css/content.css',
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
  });}
{% endblock %}

{% block content %}
<div class="row">
	<form method="post" action="/pacdev/editor/">
		{% csrf_token %}
		<table>
			{{ form }}
		</table>
		<input class="btn btn-default" type="submit" value="Submit"></input>
	</form>
</div>
{% endblock %}
