{% extends 'pacdev_base.html' %}

{% block extra_javascript_include %}
	<link rel="stylesheet" type="text/css" href="/static/pacdev/css/pacdev.css">
{% endblock %}

{% block js %}
{% endblock %}


{% block content %}
<div class="row">
<div class="media">
  <div class="media-left media-middle">
    <a href="/about">
      <img class="media-object" src="/static/pacdev/img/pac_logo.png" alt="Hinterland Parks, Protected Areas Commission, Guyana">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Hinterland Parks</h4>
    <p>
      Protected Areas Commission
    </p>
  </div>
</div>
</div>
{% endblock %}
